# Maven
/target/

# IntelliJ
/.idea/
/*.iml
/*.ipr
/*.iws

# Eclipse
/.settings/
/.classpath
/.project


# Standard directory names (see site/publish.sh)
/download/
/www2/

# update site itself
/update-site
/update-site/*

# Execution caches dirs
/caches/
caches.tar
/tmp/

# Mac OS X
.DS_Store
/.update-site/
